.saved-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  max-height: 576px;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.saved-card__image {
  width: 100%;
  min-height: 280px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  display: block;
}

.saved-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
}

.saved-card__title {
  font-size: 26px;
  font-weight: 500;
  color: #1a1b22;
  margin: 5px 0;
  line-height: 1.4;
  height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.saved-card__description {
  font-size: 16px;
  color: #4a4a4a;
  margin: 10px 0;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.saved-card__source {
  font-size: 16px;
  color: #b6bcbf;
  font-weight: 700;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.saved-card__date {
  font-size: 0.9rem;
  color: #b6bcbf;
  margin-bottom: 10px;
  font-weight: bold;
}

.saved-card__category {
  padding: 8px 22px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 1%;
  right: 75%;
  min-width: 30px;
  width: auto;
  text-align: center;
  display: block;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: black;
}

.saved-card__remove-button {
  background: url("../../assets/trash-icon.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  max-width: auto;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 85%;
  top: 3%;
  border: none;
  border-radius: 10px;
}

.saved-card__remove-button:hover {
  background: url("../../assets/trash-hover.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 40px;
  width: 40px;
  background-color: white;
  cursor: pointer;
}

/* .saved-card__remove-button-notice {
  background-color: white;
  width: 30px;
  height: 30px;

} */
