.page {
  background-color: white;
  padding: 10;
}

.page__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page__style {
  background-image: url("../../assets/georgia-de-lotz-main-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media  (max-width: 1440px) {
  .page__style {
    background-size: contain;
  }
}

@media  (max-width: 768px) {
  .page__style {
    background-size:auto;
  }
}

@media (max-width: 320px) {

  .page__style {
    background-size:contain;
  }
}