.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__content {
  text-align: left;
  color: white;
  height: auto;
}

.main__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  flex: wrap;
  max-width: 608px;
  width: 100%;
  margin: 80px auto 32px;
  font-size: 60px;
}

.main__subtitle {
  font-size: 18px;
  margin-bottom: 88px;
}

@media (max-width: 768px) {
  .main {
    padding: 20px 10px;
    text-align: center;
  }

  .main__title {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .main__subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .search-form {
    flex-direction: column; /* Stack input and button */
  }

  .search-form__input {
    margin-bottom: 10px;
    width: 100%;
  }

  .search-form__button {
    width: 100%;
  }
}
