.news-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  margin: 20px;
  text-align: left;
  position: relative;
}

/* Image styling */
.news-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Content inside the card */
.news-card__content {
  padding: 15px;
}

/* Title styling */
.news-card__title {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

/* Description styling */
.news-card__description {
  font-size: 1rem;
  margin: 10px 0;
  color: #666;
  line-height: 1.5;
}

/* Source styling */
.news-card__source,
.news-card__date {
  font-size: 0.9rem;
  color: #999;
  margin-top: 5px;
  font-weight: bold;
}

.news-card__bookmark {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 85%;
  top: 5%;
  background-image: url("../../assets/bookmark.svg");
  border: none;
  border-radius: 10px;
}

.news-card__bookmark:hover {
  cursor: pointer;
  background-image: url("../../assets/active-bookmark.svg");
}
